<div class="row">
    <div class="col-sm">   
        <div class="card p-3 bg-light border-secondary mb-3" style="max-width: 50rem;">
            <img class="card-img-top" [src]="restaurantData.image_url" alt="Card image cap" width="300px" height="400px">
            <div class="card-body">
                <h5 class="card-title">{{restaurantData.name}}</h5>
                <Address class="card-text"> <b>Direccion: </b>{{restaurantData.address}}</Address>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>Telefono: </b>{{restaurantData.phone}}</li>
                <li class="list-group-item"><b>Ciudad: </b>{{restaurantData.city}}</li>
                <li class="list-group-item"><b>Area: </b>{{restaurantData.area}}</li>
                <li class="list-group-item"><b>Pais: </b>{{restaurantData.country}}</li>
            </ul>
        </div>
    </div>
    <div class="col-sm">
        <section id="login" class="mb-5 mt-5 d-inline">
            <div class="container"> 
                <div class="card">
                    <div class="card-body offset-1">
                        <h1 class="card-title text-center">Haz tu reservacion ahora</h1>
                        <form [formGroup]="reserveform">
                            <div class="form-group">
                                <label>Tamaño de la mesa: </label>
                                <input type="number" formControlName="TableSize" required>
                            </div>
                            <div class="form-group">
                                <label>Fecha: </label>
                                <input type="date" formControlName="Date" required>
                            </div>
                            <div class="form-group">
                                <label>Hora:</label>
                                <input type="time" formControlName="Time" required>
                            </div>
                        </form>
                    <div class="card-body">
                        <a (click)="reservar()" class="btn btn-danger btn-block">Reservar</a>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        <div>
            <!--Aqui va el mapa-->
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#datetimepicker3').datetimepicker({
            format: 'LT'
        });
    });
</script>
