<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Restaurante</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Size</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items2 | paginate: { itemsPerPage: 10, currentPage: PageActual}; index as i">
                    <td scope="col"> <b>{{item.index+1}}</b></td>
                    <td scope="col"> <b>{{item.restaurant}}</b></td>
                    <td scope="col"> <b>{{item.Date}}</b></td>
                    <td scope="col"> <b>{{item.Time}}</b></td>
                    <td scope="col"> <b>{{item.Size}}</b></td>
                    <td>
                        <button class="btn btn-danger" (click)="eliminar(item.key)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="PageActual = $event"></pagination-controls>
    </div>
</div>
